@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Open+Sans&display=swap" rel="stylesheet');

body{
    font-family: 'Crafty Girls', cursive;
}
 h1{
     font-size : 90px;
     text-align: justify;
     color: olive;
    }
